<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.codegeek.food" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Food&amp;Price"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BarcodeCaptureActivity"
            android:label="Считывание штрихкода"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".CityActivity"
            android:label="@string/title_activity_city"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name=".CitySelectActivity"
            android:label="@string/title_activity_city_select"
            android:parentActivityName=".CityActivity"
            android:theme="@style/MyMaterialTheme" >
            <meta-data
                android:screenOrientation="portrait"
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.codegeek.food.CityActivity" />
        </activity>
        <activity
            android:name=".AddProduct"
            android:label="@string/title_activity_city"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name=".AddPrice"
            android:label="@string/title_activity_city"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" >
        </activity>
    </application>

</manifest>
